<!DOCTYPE html>
<html>
  <head>
    <title>Barrtr</title>
    <link href="/stylesheets/style.css">
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <h1>Hi! I'm Barrtr.</h1>
  </body>
</html>
