//
// Buttons
// --------------------------------------------------

// Base styles
// --------------------------------------------------

@mixin button {
  font-size: $button-text-size;
  font-weight: $button-text-weight;
  border: $button-border;
  background: $button-background-color;
  color: $button-text-color;
  padding: $button-padding;
  line-height: $button-line-height;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  @include border-radius($button-radius);
  @include box-shadow(none);
  @include transition(0.25s);
  @include inline-block;
  @include box-sizing( border-box );
  //width: 100%;

  // Alternate states
  // --------------------------------------------------
  &:hover,
  &:focus {
    background-color: $button-background-color-hover;
    color: $button-text-color-hover;
    text-decoration: none;
    outline: none;
    @include transition(0.25s);
  }

  // Active State
  &:active,
  &.active {
    background-color: $button-background-color-active;
    color: $button-text-color-active;
    @include box-shadow(none);
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    background-color: lighten($button-background-color, 10%);
    color: mix($button-text-color, black, 50%);
    @include box-shadow(none);
    @include opacity(70);
    cursor: auto;
  }
}

// Default button
.btn {
  @include button;
}

// Alternative button states
// -------------------------
.btn-primary {
  @include button; 
  @include button-config($button-primary, $button-primary-hover, $button-primary-active, $button-primary-text-color, $button-primary-text-color-hover);
}
.btn-secondary {
  @include button; 
  @include button-config($button-secondary, $button-secondary-hover, $button-secondary-active, $button-secondary-text-color, $button-secondary-text-color-hover);
}
.btn-info    {
  @include button; 
  @include button-config($button-info, $button-info-hover, $button-info-active, $button-info-text-color, $button-primary-text-color-hover);
}
.btn-danger  {
  @include button; 
  @include button-config($button-danger, $button-danger-hover, $button-danger-active, $button-danger-text-color, $button-danger-text-color-hover);
}
.btn-success {
  @include button; 
  @include button-config($button-success, $button-success-hover, $button-success-active, $button-success-text-color, $button-success-text-color-hover);
}
.btn-warning {
  @include button; 
  @include button-config($button-warning, $button-warning-hover, $button-warning-active, $button-warning-text-color, $button-warning-text-color-hover);
}
.btn-inverse {
  @include button; 
  @include button-config($button-inverse, $button-inverse-hover, $button-inverse-active, $button-inverse-text-color, $button-inverse-text-color-hover);
}
.btn-cta {
  @include button; 
  @include button-config($button-cta, $button-cta-hover, $button-cta-active, $button-cta-text-color, $button-cta-text-color-hover);
  font-size: $button-cta-size;
  line-height: $button-cta-line-height;
}
.btn-hollow {
  @include button; 
  @include button-config($button-hollow, $button-hollow-hover, $button-hollow-active, $button-hollow-text-color, $button-hollow-text-color-hover);
  border: $button-hollow-border;
  line-height: $button-hollow-line-height;

    &:hover {
        border: $button-hollow-border-hover;
    }
}
.btn-cta-hollow {
  @include button; 
  @include button-config($button-cta-hollow, $button-cta-hollow-hover, $button-cta-hollow-active, $button-cta-hollow-text-color, $button-cta-hollow-text-color-hover);
  font-size: $button-cta-size;
  line-height: $button-cta-hollow-line-height;
  border: $button-cta-hollow-border;
    
    &:hover {
      border: $button-cta-hollow-border-hover;
    }
}



