//
// Inputs
// --------------------------------------------------

// Text fields
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: $input-border;
  color: $input-text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding: $input-padding;
  height: $input-height;
  @include box-sizing(border-box);
  @include border-radius($input-radius);
  @include box-shadow(none);
  @include placeholder($input-placeholder-color, $input-placeholder-height, $input-placeholder-padding);
  @include transition(all .25s ease-in-out);
  // Alternate state
  // --------------------------------------------------
  &:focus {
    border: $input-border-focused;
    @include box-shadow(none);
    outline: 0 none;
  }

  // Alternate Colors
  // --------------------------------------------------
  &.error    { @include input-states($input-error) }
  &.success  { @include input-states($input-success) }
  &.warning  { @include input-states($input-warning) }
  &.info     { @include input-states($input-info) }
}


// Disabled state
input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: mix($base, white, 10%);
  border-color: mix($base, white, 40%);
  color: mix($base, white, 40%);
  cursor: default;
}

// Text field grids
input,
textarea,
.uneditable-input {
  width: $input-width;
}

// Textarea
textarea {
  height: auto;
  font-size: $base-font-size * 1.071; /* 15px */
  line-height: 24px;
  padding: 5px 11px;
  text-indent: 0;
  color: $input-text-color;
}

textarea[class*="span"] {
  width: 100% !important;
  @include box-sizing(border-box);
}

//
// Checkbox & Radio
// --------------------------------------------------

.checkbox,
.radio {
  margin: $checkbox-radio-margin;
  padding: $checkbox-radio-padding;
  position: relative;
  @include transition(color .25s linear);
  display: block;
  color: $checkbox-radio-text-color;
  line-height: 100%;
  cursor: pointer;
    input {
      outline: none !important;
      display: none;
    }

  // Replace icons
  // --------------------------------------------------
    .icons {
      color: $checkbox-radio-text-color;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: $checkbox-radio-icon-height;
      width: $checkbox-radio-icon-width;
      line-height: inherit;
      text-align: center;
      @include transition(color .25s linear);

      .first-icon-icon,
      .second-icon {
        position: absolute;
        left: 0;
        top: 0;
        @include opacity(100);
      }
      .second-icon {
        @include opacity(0);
      }
    }

    // Alternate States
    // --------------------------------------------------

    // Hover State
    &:hover {
      .first-icon {
        @include opacity(0);
      }
      .second-icon {
        @include opacity(100);
      }
    }

    // Checked State
    &.checked {
      color: $checkbox-radio-text-color-active;


      .icons {
        color: $checkbox-radio-text-color-active;
      }
      .first-icon {
        @include opacity(0);
      }
      .second-icon {
        @include opacity(100);
      }
    }

    // Disabled state
    &.disabled {
      cursor: default;
      color: mix($checkbox-radio-text-color, white, 38%);

      .icons {
        color: mix($checkbox-radio-text-color, white, 38%);
      }
      .first-icon {
        @include opacity(100);
      }
      .second-icon {
        @include opacity(0);
      }
      &.checked {
        .icons {
          color: mix($checkbox-radio-text-color, white, 38%);
        }
        .first-icon {
          @include opacity(0);
        }
        .second-icon {
          @include opacity(100);
        }
      }
    }
}

