// Typography
// --------------------------------------------------

body {
  color: $base;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

input,
button,
select,
textarea {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

a {
  color: $link-color;
  text-decoration: none;
  @include transition(0.25s);

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

 // Set the H1-H6 tags
  // -------------------------
  h1 {
    @include text-config($h1-family, $h1-size, $h1-weight, $h1-margin, $h1-padding, $h1-text-color, $h1-line-height, $h1-letter-spacing);
  }
  h2 {
    @include text-config($h2-family, $h2-size, $h2-weight, $h2-margin, $h2-padding, $h2-text-color, $h2-line-height, $h2-letter-spacing);
  }
  h3 {
    @include text-config($h3-family, $h3-size, $h3-weight, $h3-margin, $h3-padding, $h3-text-color, $h3-line-height, $h3-letter-spacing);
  }
  h4 {
    @include text-config($h4-family, $h4-size, $h4-weight, $h4-margin, $h4-padding, $h4-text-color, $h4-line-height, $h4-letter-spacing);
  }
  h5 {
    @include text-config($h5-family, $h5-size, $h5-weight, $h5-margin, $h5-padding, $h5-text-color, $h5-line-height, $h5-letter-spacing);
    text-transform: uppercase;
  }
  h6 {
    @include text-config($h6-family, $h6-size, $h6-weight, $h6-margin, $h6-padding, $h6-text-color, $h6-line-height, $h6-letter-spacing);
    text-transform: uppercase;
  }

  p {
    @include text-config($p-family, $p-size, $p-weight, $p-margin, $p-padding, $p-text-color, $p-line-height, $p-letter-spacing);
  }

  blockquote {
    @include text-config($blockquote-family, $blockquote-size, $blockquote-weight, $blockquote-margin, $blockquote-padding, $blockquote-text-color, $blockquote-line-height, $blockquote-letter-spacing);
    font-style: italic;
    border-left: $blockquote-border;
    p {
      font-size: 100%;
      margin-bottom: .5em;
      color: $blockquote-text-color;
    }
    .author {
      font-size: $author-size * .75;
    }
  }

  ol, dl, ul {
    @include text-config($list-family, $list-text-size, $list-weight, $list-margin, $list-padding, $list-text-color, $list-line-height, $list-letter-spacing);

    li, dt {
      padding: $li-padding;
      margin: $li-margin;
      font-size: 100%;
    }
    dt {
      color: $dt-text-color;
    }
    dd {
      color: $dd-text-color;
      padding: $dd-padding;
      margin: $dd-margin;
    }
  }
  
  dl > dl {
    margin: 0;
    font-size: 100%;
  }

  ul > ul {
    margin: 0;
    font-size: 100%;
  }

  ol > ol {
    margin: 0;
    font-size: 100%;
  }

  li > li {
    font-size: 100%;
  }